// Color Setting Starts

	// Site Background Color
	$_backgroundColor: white; 
	
	// Site Main Color
	$_mainColor: #4287f5;

	// Site Second Color
	$_SecondColor: #222831;
	
	// Site Main Text Color
	$_mainTextColor: #222831;

	$_SecondTextColor: #4287f5;

// Color Setting Ends

// Size Setting Starts

	// Main Container Width
	$_mainContainerWidth: 1125px;

// Size Setting Ends
